{% extends "core/base.html" %}
{% load static %}

{% block title %}Home | Recipe Website{% endblock %}

{% block content %}
    <section class="hero">
        <h2>cook, share, enjoy!</h2>
        <p>Discover delicious recipes made simple. Whether you're looking for quick weekday meals, comforting classics, or something new to impress your guests, we’ve got you covered.
Browse, save your favorites, and even share your own recipes with our growing food community. Let’s make cooking enjoyable, creative, and accessible for everyone.</p>
    </section>
{% endblock %}