*{
    padding:0;
    margin: 0;
    box-sizing: border-box
}
.dancing-script-font {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.nunito-font {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

body {
    background-color:#f9f7f4!important
}
body.homepage {
    background-image: url(../images/background-homepage.jpg) !important; 
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

body.homepage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(28, 36, 31, 0.5);
    z-index: -1;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 25px;
    background: #817b5f;
    border-bottom:#000000 solid 1px
}
nav .logo{
    font-family: Dancing Script;
    color: rgb(0, 0, 0);
    font-size: 24px;
    display: flex;
    align-items: center;
}

nav .logo img{
    width:50px;
    margin-right:10px
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    margin: 0 15px;
    cursor: pointer;
    position: relative;
    
}
nav ul li::before{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 1px;
    background-color: black;
    z-index: 2;
    transition:1s
}
nav ul li:hover::before {
    width: 100%;
}
nav a{
    text-decoration: none;
    text-transform:uppercase;
    color: rgb(0, 0, 0);
    font-family: Nunito;
}

.hero{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(215, 212, 189);
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
    font-family: Nunito;
    width:70%
}
.hero h2{
    font-size:48px;
    margin-bottom:10px;
    text-transform:uppercase
}
.top-list{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    align-items: center;
    
}
.search-box {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 3px 8px;
}

.search-box input {
    border: none;
    outline: none;
    padding: 5px;
    font-size: 14px;
}

.search-box i {
    margin-left: 5px;
    color: gray;
    cursor: pointer;
}
.categories {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 30px 0;
    flex-wrap: wrap;
}

.category {
    padding: 6px 14px;
    border: 1px solid #ccc;
    border-radius: 15px;
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-family: "Nunito", sans-serif;
}
.category.active {
    background: #817b5f;
    color: white;
}

.category:hover {
    background: #817b5f;
    color: white;
    transition:0.4s
}

.recipes-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    width: 80%;
    margin: auto;
}

.recipes-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    width: 80%;
    margin: auto;
}

.recipe-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 15px;
    border-radius: 8px;
    background: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition:0.3s;
    font-family: "Nunito", sans-serif;
}
.recipe-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 22px rgba(0, 0, 0, 0.2);
}
.recipe-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

#no-results{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Nunito", sans-serif;
}

.recipe-user {
    font-size: 12px;
    padding: 6px;
    border-bottom: 1px solid #eee;
}

.recipe-info {
    padding: 10px;
    font-size: 14px;
}
.view-btn {
    display: flex;
    align-items: end;
    padding: 6px 0;
    color: black;
    font-size: 14px;
    margin-top: auto;
    text-decoration: none;
}

.view-more {
    text-decoration: underline;
    transition: 0.3s   
}
.view-btn i {
    padding-left: 7px;
}
.view-btn:hover .view-more {
    transform: scale(1.08);
}
/* Recipe Single Page */

.recipe-container{
    margin: 20px 50px;
    text-align: center;
    font-family: "Nunito", sans-serif;
}
.category-name{
    font-size:14px;
    color: #494848
}
.recipe-meta{
    margin-top:10px;
    display:flex;
    justify-content: center;
    gap:20px;
    align-items: center
}
.recipe-meta i{
    margin-right:3px;
    font-size:16px
}
.recipe-times{
    display:flex;
    justify-content:space-evenly;
    margin:10px 0;
    background-color: white;
    border:#ccc 1px solid;
    border-radius:10px
}

.recipe-times>div {
    flex: 1;
    text-align: center;
    padding: 50px 0;
}

.recipe-times>div:not(:last-child) {
    border-right: 1px solid #ccc;
}
.recipe-times>div strong{
    display:block;
    text-transform:uppercase;
    color:#838181;
    font-size:12px;
    padding-bottom:5px
}
.recipe-image{
    display: flex;
    justify-content: center
}
.recipe-image img {
    width: 80%;
    height: auto;
    display: block;
    border-radius: 10px;
    margin:20px 0;
}

.ingredients, .steps{
    display:flex;
    flex-direction:column;
    align-items:start;
    margin:30px 0;
    border:#ccc 1px solid;
    border-radius: 10px;
}

.ingredients h3, .steps h3{
    border-radius: 10px 10px 0 0 ;
    width:100%;
    background-color: #817b5f;
    text-align:left;
    padding:10px;
    color:white;
}

.ingredients ol, .steps ol{
    list-style: decimal inside;
    padding: 20px 5px;   
}
.ingredients ol li, .steps ol li{
    text-align: left
}
.comments {
    margin-top: 25px;
    padding: 15px;
    background-color: #dcd9d4;
    border-radius: 8px;
}

.comment {
    display: flex;
    align-items: flex-start;
    gap: 6px;
    margin-bottom: 8px;
}

.comment-user {
    font-weight: bold;
    color: #333;
}

.comment-text {
    color: #444;
}
.add-comment form{
    display: flex;
    justify-content: start;
    align-items: center
}
.add-comment textarea{
    padding:5px;
    border-radius:15px;
    border:none;
    margin-right:10px
}
.add-comment textarea:focus {
    border: 1px solid rgb(65, 41, 41);
    outline: none;
}
.add-comment button{
    padding:7px;
    background-color:#817b5f;
    border:none;
    color:white;
    cursor: pointer;
    border-radius: 5px;
    transition:0.5s
}
.add-comment button:hover{
    transform: scale(1.05)
}
#like-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0;
    transition: transform 0.2s ease;
}

.heart {
    color: rgb(182, 176, 176);
    transition: color 0.2s ease, transform 0.2s ease;
}

#like-btn.liked .heart {
    color: red;
}

#like-btn:not(.liked):hover .heart {
    color: red;
    transform: scale(1.2);
}

#like-btn.liked:hover .heart {
    transform: scale(1.2);
}
#like-count{
    font-size: 16px
}