{% extends 'recipes/base.html' %}
{% load static %}

{% block title_block %}
    Login
{% endblock %}

{% block body_block %}
<h1>Sign In</h1>
<form id="login-form" method="post" action="{% url 'recipes:user_login' %}">
    {% csrf_token %}
    <p>Username: <input type="text" name="username" value="" size="50" /></p>
    <br />
    <p>Password: <input type="password" name="password" value="" size="50" /></p>
    <br />
    {% if messages %}
        <div class="error-container">
            {% for message in messages %}
                <p class="error-message">{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
    <input class="login-btn" type="submit" value="LogIn" />
</form>

    {% load socialaccount %}

<form method="post" action="{% provider_login_url 'google' process='login' %}">
    {% csrf_token %}
    <button type="submit" class="login-btn" >
        <i class="fa-brands fa-google"></i>Login with Google
    </button>
</form>

<a class="create-account" href="{% url 'recipes:signup'%}">Create an account</a>
{% endblock %}