{% extends 'recipes/base.html' %}
{% load static %}

{% block title_block %}
    Login
{% endblock %}

{% block body_block %}
<h1>Sign In</h1>
<form id="login-form" method="post" action="{% url 'recipes:login' %}">
    {% csrf_token %}
    <p>Username: <input type="text" name="username" value="" size="50" /></p>
    <br />
    <p>Password: <input type="password" name="password" value="" size="50" /></p>
    <br />
    <input class="login-btn" type="submit" value="LogIn" />
</form>
    {% load socialaccount %}
    <a href="{% provider_login_url 'google' next='/' %}">Login with Google</a>
{% endblock %}