{% extends 'recipes/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Sign Up
{% endblock %}

{% block body_block %}
<h1>Sign Up</h1>
{% if registered %}
<strong>Thank you for Signing Up!</strong>
<a href="{% url 'recipes:index' %}">Return to the homepage.</a><br />
{% else %}
<form class="signup-form" id="user_form" method="post" action="{% url 'recipes:signup' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ user_form.as_p }}
    {{ profile_form.as_p }}
    <input class = "signup-btn" type="submit" name="submit" value="Sign Up" />
</form>
    {% load socialaccount %}
<a href="{% provider_login_url 'google' next='/' %}">sign up with Google</a>
{% endif %}
{% endblock %}


