<!DOCTYPE html>
<html>
    <head>
        <title>Recipes</title>
    </head>

    <body>
        <h1>Add a recipe</h1>
        <div>
            <form id = "add_a_recipe_form" method="post" action="{% url 'add_recipe' %}" enctype="multipart/form-data">
                {% csrf_token %}

                {%for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                {% for field in form.visible_fields %}
                    <div style="margin-bottom: 10px;">
                        {{ field.label_tag }} <br />
                        {{ field.errors }}
                        {{ field }} <br />
                        <small style="color: grey;">{{ field.help_text }}</small>
                    </div>
                {% endfor %}
                <input type="submit" name="submit" value="Create Recipe" />
            </form>
        </div>
    </body>
</html>